group Main
  source https://api.nuget.org/v3/index.json
  framework:netstandard2
  nuget Fsharp.Core
  nuget Xamarin.Forms

group _Droid
  source https://api.nuget.org/v3/index.json
  framework: monoandroid7.1
  nuget Fsharp.Core
  nuget Xamarin.Forms
  nuget Xamarin.Android.FSharp.ResourceProvider 1.0.0.19
  nuget Xamarin.Android.Support.Animated.Vector.Drawable < 26.0.0.0
  nuget Xamarin.Android.Support.Annotations < 26.0.0.0
  nuget Xamarin.Android.Support.Compat < 26.0.0.0
  nuget Xamarin.Android.Support.Core.UI < 26.0.0.0
  nuget Xamarin.Android.Support.Core.Utils < 26.0.0.0
  nuget Xamarin.Android.Support.Design < 26.0.0.0
  nuget Xamarin.Android.Support.Fragment < 26.0.0.0
  nuget Xamarin.Android.Support.Media.Compat < 26.0.0.0
  nuget Xamarin.Android.Support.Transition < 26.0.0.0
  nuget Xamarin.Android.Support.v4 < 26.0.0.0
  nuget Xamarin.Android.Support.v7.AppCompat < 26.0.0.0
  nuget Xamarin.Android.Support.v7.CardView < 26.0.0.0
  nuget Xamarin.Android.Support.v7.MediaRouter < 26.0.0.0
  nuget Xamarin.Android.Support.v7.Palette < 26.0.0.0
  nuget Xamarin.Android.Support.v7.RecyclerView < 26.0.0.0
  nuget Xamarin.Android.Support.Vector.Drawable < 26.0.0.0


group _iOS
  source https://api.nuget.org/v3/index.json
  framework: xamarinios
  nuget Fsharp.Core
  nuget Xamarin.Forms